---
import { getRecentPosts } from '@/helpers/getRecentPosts'
import BlogPost from './BlogPost.astro';

const postsToShow = await getRecentPosts();
---
<section>
    <h2>Blog</h2>

    {postsToShow.length && postsToShow.map((post) => (
        <BlogPost
            title={post.data.title}
            description={post.data.description ?? ''}
            url={`/blog/${post.slug}`}
        />
        // <article>
        //     <h3>{post.data.title}</h3>
        //     {(post.data.description ?? '') && (
        //         <p>{post.data.description}</p>
        //     )}
        //     {/* TODO figure out how to link to the blog article */}
        //     {/* <a href={post.url}>Read more</a> */}
        // </article>
    ))}
</section>
